@import "tailwindcss";


@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}



#NavbarTop{
  nav{
    button{
      padding: 4px 12px;
      background-color: orange;
    }
  }
}